<include file="Public/header" />
<div class="all_show">
				<span>
					<a href="">日记</a>
				</span>
				<span>
					<a href="">
						欣赏
					</a>
				</span>
				<span>
					<a href="">程序人生</a>
				</span>
				<span>
					<a href="">经典语录</a>
				</span>
			</div>
<div class="content_box">
	<article class="main_content clearfix">
		<header>
			<h1 class="green_content">
				<a href="" class="green_content_a1">网站首页</a><a href="" class="green_content_a2">关于我</a>
				<span class="saying">
					n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。
				</span>
			</h1>
		</header>
		<article class="content_text clearfix">
			<section class="text_box">
				<header>
					<h2>
						IP要突破2000+了
					</h2>
					<p>
						<span>发布时间：2016-05-20作者：杨青</span>
						[<a href="">日记</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
						<img src="__PUBLIC__/home/images/text1.jpg" width="180px">
					</a>
					<p class="right_box">
						很久都没有更新网站了，现在得空看了下网站怎么样了，没有想到，百度权重4,PR3,访问IP也在上升，一年的时间没有更新，看来一次性做好一个网站很有必要，这回一劳永逸了
					</p>
					<p class="right_button">
						<span>
							阅读全文
						</span>
					</p>
				</section>
			</section>
			<section class="text_box">
				<header>
					<h2>
						IP要突破2000+了
					</h2>
					<p>
						<span>发布时间：2016-05-20作者：杨青</span>
						[<a href="">日记</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
						<img src="__PUBLIC__/home/images/text1.jpg" width="180px">
					</a>
					<p class="right_box">
						很久都没有更新网站了，现在得空看了下网站怎么样了，没有想到，百度权重4,PR3,访问IP也在上升，一年的时间没有更新，看来一次性做好一个网站很有必要，这回一劳永逸了
					</p>
					<p class="right_button">
						<span>
							阅读全文
						</span>
					</p>
				</section>
			</section>
			<section class="text_box">
				<header>
					<h2>
						IP要突破2000+了
					</h2>
					<p>
						<span>发布时间：2016-05-20作者：杨青</span>
						[<a href="">日记</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
						<img src="__PUBLIC__/home/images/text1.jpg" width="180px">
					</a>
					<p class="right_box">
						很久都没有更新网站了，现在得空看了下网站怎么样了，没有想到，百度权重4,PR3,访问IP也在上升，一年的时间没有更新，看来一次性做好一个网站很有必要，这回一劳永逸了
					</p>
					<p class="right_button">
						<span>
							阅读全文
						</span>
					</p>
				</section>
			</section>
			<section class="text_box">
				<header>
					<h2>
						IP要突破2000+了
					</h2>
					<p>
						<span>发布时间：2016-05-20作者：杨青</span>
						[<a href="">日记</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
						<img src="__PUBLIC__/home/images/text1.jpg" width="180px">
					</a>
					<p class="right_box">
						很久都没有更新网站了，现在得空看了下网站怎么样了，没有想到，百度权重4,PR3,访问IP也在上升，一年的时间没有更新，看来一次性做好一个网站很有必要，这回一劳永逸了
					</p>
					<p class="right_button">
						<span>
							阅读全文
						</span>
					</p>
				</section>
			</section>
		</article>
	</article>
</div>
</body>
<script type="text/javascript">
	$(function(){
			 $(".top_ul>li>a").mouseover(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("bbb")
			 	$(".show").eq(index).addClass("aaa")
			})
			  $(".top_ul>li>a").mouseout(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("aaa");
			 	$(".show").eq(index).addClass("bbb")
			})

			  $(".all_show>span>a").mouseover(function(){
			  		$(this).removeClass("f_rotate")
			 		$(this).addClass("rotate")
			 	})
			  $(".all_show>span>a").mouseout(function(){
			 		$(this).removeClass("rotate")
			 		$(this).addClass("f_rotate")
			 	})
		})
</script>rotate