<include file="Public/header" />
<div class="content_box">
	<article class="main_content clearfix">
		<header>
			<h1 class="green_content">
				<a href="" class="green_content_a1">网站首页</a><a href="" class="green_content_a2">关于我</a>
				<span class="saying">
					n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。
				</span>
			</h1>
		</header>
		<article class="content_text clearfix">
		<foreach name="boke" item="vo">
			<section class="text_box">
				<header>
					<h2>
						{$vo.title}
					</h2>
					<p>
						<span>发布时间：{$vo.create_time|date="Y-m-d",###}作者：{$vo.author}</span>
						[<a href="">{$manlife[$vo['categroy_id']]['name']}</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
								<img src="__PUBLIC__/{$vo.pic}" width="180px">
					</a>
					<p class="right_box">
						{$vo.description}
					</p>
					<p class="right_button">
						<span>
							<a href="{:U('home/Manlife/detail',array('id'=>$vo['id']))}">阅读全文</a>
						</span>
					</p>
				</section>
			</section>
			</foreach>
		
		<div class="main_right floatr">
			<div class="all_show">
			<foreach name="manlife" item="v"> 
				<span>
					<a href="">{$v.name}</a>
				</span>
				</foreach>
			</div>
			<div class="news">
				
				<h3>
					<p>
						最新<span>文章</span>
					</p>
				</h3>
				<ul>
					<li><a  class="first_li_a"href="">帝国cms首页、自定义页面如何实现分页</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【郑重申明】本站只提供静态模板下载！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
				</ul>
			</div>
			<div class="rank">
				<h3>
					<p>
						模版<span>排行</span>
					</p>
				</h3>
				<ul>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
				</ul>
			</div>
			<div class="your_interst-box">
				<h3>
					<p>
						<span>猜你喜欢</span>
					</p>
				</h3>
				<div class="your_interst_content">
					<img src="./images/inter1.jpg">
					
					<img src="./images/inter2.jpg">
					
					<p class="inter_p">
						<span>热门手机推荐</span>
						<span>墙绘大师</span>
					</p>
					<img src="./images/inter1.jpg">
					<img src="./images/inter2.jpg">
					<p class="inter_p">
						<span>热门手机推荐</span>
						<span>墙绘大师</span>
					</p>
					<p class="inter_p3">
						<span>
							
						</span>
						<span>
							
						</span>
					</p>
				</div>
			</div>
			<div class="people share">
				<h3>
					<p>
						<span>最近访客</span>
					</p>
				</h3>
				<p class="fangke_p2">
				   <img src="./images/right_bottom.png">
				</p>
			</div>
		</div>
	</article>
</div>
</body>
<script type="text/javascript">
	$(function(){
			 $(".top_ul>li>a").mouseover(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("bbb")
			 	$(".show").eq(index).addClass("aaa")
			})
			  $(".top_ul>li>a").mouseout(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("aaa");
			 	$(".show").eq(index).addClass("bbb")
			})

			  $(".all_show>span>a").mouseover(function(){
			  		$(this).removeClass("f_rotate")
			 		$(this).addClass("rotate")
			 	})
			  $(".all_show>span>a").mouseout(function(){
			 		$(this).removeClass("rotate")
			 		$(this).addClass("f_rotate")
			 	})
		})
</script>rotate