<include file="Public/header" />
<div class="all_show">
			<foreach name="manlife" item="v"> 
				<span>
					<a href="">{$v.name}</a>
				</span>
				</foreach>
			</div>
<div class="content_box">
	<article class="main_content clearfix">
		<header>
			<h1 class="green_content">
				<a href="" class="green_content_a1">网站首页</a><a href="" class="green_content_a2">关于我</a>
				<span class="saying">
					n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。
				</span>
			</h1>
		</header>
		<article class="content_text clearfix">
			<foreach name="boke" item="vo">
			<section class="text_box">
				<header>
					<h2>
						{$vo.title}
					</h2>
					<p>
						<span>发布时间：{$vo.create_time|date="Y-m-d",###}作者：{$vo.author}</span>
						[<a href="">{$manlife[$vo['categroy_id']]['name']}</a>]
					</p>
				</header>
				<section class="content_main_text clearfix">
					<a href="" class="left_img_box">
						<img src="__PUBLIC__/{$vo.pic}" width="180px">
					</a>
					<p class="right_box">
						{$vo.description}
					</p>
					<p class="right_button">
						<span>
							阅读全文
						</span>
					</p>
				</section>
			</section>
			</foreach>
			
		</article>
	</article>
</div>
</body>
<script type="text/javascript">
	$(function(){
			 $(".top_ul>li>a").mouseover(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("bbb")
			 	$(".show").eq(index).addClass("aaa")
			})
			  $(".top_ul>li>a").mouseout(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("aaa");
			 	$(".show").eq(index).addClass("bbb")
			})

			  $(".all_show>span>a").mouseover(function(){
			  		$(this).removeClass("f_rotate")
			 		$(this).addClass("rotate")
			 	})
			  $(".all_show>span>a").mouseout(function(){
			 		$(this).removeClass("rotate")
			 		$(this).addClass("f_rotate")
			 	})
		})
</script>