<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/shouye.css">
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery2.1.4.min.js"></script>
	<title></title>
</head>
<body>
	<div class="topNav">
	<a  class="logo floatl" href=""><img src="__PUBLIC__/home/images/logo.jpg"></a>
	<ul class="top_ul floatr">
		<li><a class="color" href="javascript:void(0)">首页</a><div class="show">Protal</div></li>
		<li><a href="javascript:void(0)">关于我</a><div class="show">About</div></li>
		<li><a href="javascript:void(0)">慢生活</a><div class="show">Life</div></li>
		<li><a href="javascript:void(0)">碎言碎语</a><div class="show">Doing</div></li>
		<li><a href="javascript:void(0)">学无止境</a><div class="show">Learn</div></li>
		<li><a href="javascript:void(0)">留言板</a><div class="show">Guestbook</div></li>
	</ul>
</div>