<include file="Public/header" />
	<div class="banner">
		<div class="banner_mid clearfix">
			<div class="text floatl">
				<p>我们不停的翻弄着回忆</p>
				<p>却再也找不回那时的自己</p>
				<p>红尘一梦，不再追寻</p>
			</div>
			<div class="banner_mid_right floatr">
				<a href="">
					<img src="__PUBLIC__/home/images/photos2.jpg">
				</a>
				<a class="hide_qing" href="">
					<p>杨青</p>
				</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		$(".banner_mid_right").mouseover(function(){
			$(".hide_qing").stop().animate({"top":"97px"},150)
		})
		$(".banner_mid_right").mouseout(function(){
			$(".hide_qing").stop().animate({"top":"130px"},150)
		})
	})
	</script>
	<div class="main clearfix">
		<h2>
			<p>文章<span>推荐</span></p>
		</h2>
		<div class="content floatl clearfix">
			<h3 class="first_h3"><a href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
		<div class="main_right floatr">
			<div class="weather">
				<img src="__PUBLIC__/home/images/weather.jpg">
			</div>
			<div class="news">
				<h3>
					<p>
						最新<span>文章</span>
					</p>
				</h3>
				<ul>
					<li><a  class="first_li_a"href="">帝国cms首页、自定义页面如何实现分页</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【郑重申明】本站只提供静态模板下载！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
					<li><a href="">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
				</ul>
			</div>
			<div class="rank">
				<h3>
					<p>
						模版<span>排行</span>
					</p>
				</h3>
				<ul>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
					<li><a href="">情侣博客模板系列之《回忆》Html</a></li>
					<li><a href="">响应式个人博客模板（蓝色清新）</a></li>
					<li><a href="">个人博客模板《世界杯来袭》</a></li>
				</ul>
			</div>
			<div class="share">
				<h3>
					<p>
						友情<span>链接</span>
					</p>
				</h3>
				<div class="model">
					<span>
						<a href="">三维模型下载</a>
					</span>
				</div>
				<div class="share_btn clearfix">
					<ul class="clearfix">
						<li>
							<a href=""></a>
						</li>
						<li>
							<a class="btn_qq" href=""></a>
						</li>
						<li>
							<a class="btn_weibo" href=""></a>
						</li>
						<li>
							<a class="btn_tqq" href=""></a>
						</li>
						<li>
							<a class="btn_renren" href=""></a>
						</li>
						<li>
							<a class="btn_weixin" href=""></a>
						</li>
					</ul>
				</div>
				<div class="code">
					<p>
					扫描二维码关注<span>杨青博客</span>官方微信账号
					</p>
					<a href=""><img src="__PUBLIC__/home/images/weixin.jpg"></a>
				</div>
			</div>
		</div>
		<div class="content floatl clearfix">
			<h3><a class="title" href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
		<div class="content floatl clearfix">
			<h3><a class="title" href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
		<div class="content floatl clearfix">
			<h3><a class="title" href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
					示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
		<div class="content floatl clearfix">
			<h3><a class="title" href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
		<div class="content floatl clearfix">
			<h3><a class="title" href="">【活动作品】柠檬绿兔小白个人博客模板</a></h3>
			<div class="content_left floatl">
				<img src="__PUBLIC__/home/images/content_left.png">
			</div>
			<div class="content_right floatl">
				<p>
					展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇
				</p>
				<a  class="read_all"href="">
					阅读全文>>
				</a>
			</div>
			<p class="content_footer">
				<span>2015-04-10</span>
				<span>作者：杨青</span>
				<span>
					个人博客:[
					<a href="">原创个人博客模版</a>
					]
				</span>
			</p>
		</div>
	</div>
	<div class="footer">
		<p>
			Design by DanceSmile <a href="">蜀ICP备11002373号-1</a> 
		</p>
	</div>
	<script type="text/javascript">
	$(function(){
			 $(".top_ul>li>a").mouseover(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("bbb")
			 	$(".show").eq(index).addClass("aaa")
			})
			  $(".top_ul>li>a").mouseout(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("aaa");
			 	$(".show").eq(index).addClass("bbb")
			})
			$(".top_ul li a").click(function(){
				$(this).addClass("color").parent().siblings().children().removeClass("color")
			})
		})
</script>
</body>
</html>