<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/mobile/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/mobile/css/index1.css">
	<title>移动端主页</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			 <a href="" class="logo"></a> 
		</div>
		<div class="col-xs-12 bar">
			<ul class="clearfix">
				<li class="col-xs-3">
				 	<a>首页 </a>
				 </li>
				<li class="col-xs-3">
					<a>关于我</a>
				</li>
				<li class="col-xs-3">
					<a>慢生活</a>
				</li>
				<li class="col-xs-3">
					<a>碎言碎语</a>
				</li>
				<li class="col-xs-3">
					<a>模板分享</a>
				</li>
				<li class="col-xs-3">
					<a>学无止境</a>
				</li>
				<li class="col-xs-3">
					<a>留言板</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 little_say">
			<span>个人博客</span><b>
				模板Templates
			</b>
		</div>
	</div>
	<div class="row main">
		<ul>
			<li>  </li>
			<li>  </li>
			<li>  </li>
			<li>  </li>
			<li>  </li>
			<li>  </li>
		</ul>
	</div>
	<div  class="row botton_box">
		<article style="margin-top:20px;" class="text_box clearfix">
			<h3>
				<a href="" class="text_h3">
					文章<span style="color:#FE5187">推荐</span>
				</a>
			</h3>
			<section class="col-xs-12 text_content ">
				<header>
					<a href="">【活动作品】柠檬绿兔小白个人博客模板</a>
				</header>
				<section>
					
				</section>
			</section>
			<span class="col-xs-3 read_button">
				阅读全文>>	
			</span>
			
		</article>
		<footer class="col-xs-12 clearfix">
				<span>
					2015-04-10
				</span>
				<span>
					作者：杨青
				</span>
				<span>
					个人博客：[<a href="" style="">原创个人博客模板</a>]
				</span>
			</footer>
		<article class="text_box clearfix">
			<h3>
				<a href="" class="text_h3">
					文章<span style="color:#FE5187">推荐</span>
				</a>
			</h3>
			<section class="col-xs-12 text_content ">
				<header>
					<a href="">【活动作品】柠檬绿兔小白个人博客模板</a>
				</header>
				<section>
					
				</section>
			</section>
			<span class="col-xs-3 read_button">
				阅读全文>>	
			</span>
			
		</article>
		<footer class="col-xs-12 clearfix">
				<span>
					2015-04-10
				</span>
				<span>
					作者：杨青
				</span>
				<span>
					个人博客：[<a href="" style="">原创个人博客模板</a>]
				</span>
			</footer>
	</div>
	<footer class=" col-xs-12 all_footer">
		 <p class="p1">网名：<span>DanceSmile</span> | 即步非烟</p>
  <p>姓名：杨青 </p>
  <p>籍贯：四川省—成都市</p>
  <p>现居：天津市—滨海新区</p>
  <p>职业：网站设计、网站制作</p>
  <p>喜欢的书：《红与黑》《红楼梦》</p>
  <p>喜欢的音乐：《burning》《just one last dance》《相思引》</p>
  <p><a target="_parent" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="杨青个人博客网站"></a></p>
  <p> 
    <!--以下是QQ邮件列表订阅嵌入代码--><a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=65fb9b3618916f162973471ebc5b97ff786efae0ec9a863e"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_m.png"></a> </p>

	</footer>
</div>

</body>
</html>