html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
body{
	font: 12px "宋体", Arial, Helvetica, sans-serif;
    color: #756F71;
}
.clearfix:after {
	height: 0;
	content: "";
	display: block;
	clear: both;
}
p{
	font-size: 13px;
}
a{
	text-decoration: none;
	color: #000;
}
li {
	list-style:none;
}
.topNav {
	margin:0 auto;
	width:1000px;
	height:80px;
	line-height:80px;
} 
.logo {
	display: block;
	height: 60px;
	padding-top: 10px;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.border{
	border: 1px solid #cccccc;
}
.top_ul{
	position: relative;
}
.top_ul li {
	float:left;
	padding:0 13px;
	color:#333;
	z-index: 5;	
	font-size: 18px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif
}
.show{
	position: absolute;
	opacity: 0;
	top: 10px;
	line-height: 60px;
	font-size: 12px;
	z-index: -1;
}
.aaa{
	animation: ani 0.5s forwards;
}
@keyframes ani{
	from {top:0px;opacity: 0}
	to {top:30px;opacity: 1}
}
.bbb{
	animation: ccc 0.5s forwards;
}
@keyframes ccc{
	from {top:30px;opacity: 1}
	to {top:0px;opacity: 0}
}
.content_box{
	width: 1000px;
	margin: 0 auto;
}
.main_content{
	width: 100%;
	margin-top: 20px;
}
.green_content{

}
.green_content>a{
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
	line-height: 40px;
}
.green_content_a1{
	background: #5EA51B;
}
.green_content_a2{
	background: #8BBF5D;
}
.saying{
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	float: right;
	font-weight: 200;
	color: #888888;
}
.content_text{
	float: left;
	width: 740px;
	color: #696969;
	border-top: 1px solid #f6f6f6;
	background: url(../images/r_line.jpg) repeat-y right;
}
.all_show{
	position: fixed;
	z-index: 100;
	margin-left: 10px;
	width: 240px;
	height: 90px;
}
.all_show>span{
	display: inline-block;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	font-size: 12px;
	z-index: 100;
	margin: 3px 0;
}
.all_show>span>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #FFF;
}
.rotate{
	animation: ra 0.5s linear forwards;
	background-color: rgba(255, 255, 255, 0.2)
}
@keyframes ra{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.f_rotate{
	animation: dd 0.5s linear forwards;

}
@keyframes dd{
	0%{transform: rotate(360deg);}
	100%{transform: rotate(0deg);}
}
.all_show>span:nth-child(1){
	background: #FE5187;
}
.all_show>span:nth-child(2){
	background: #339967;
}
.all_show>span:nth-child(3){
	background: #FF8151;
}
.all_show>span:nth-child(4){
	background: #66CC9A;
}

.text_box{
	float: left;
	width: 97%;
	margin-top: 30px;
	color: #333;
	padding-bottom:20px;
	border-bottom: 1px dashed #ccc;
}
.text_box>header>h2{
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}
.text_box>header>p>a{
	color: #63B120;
}
.content_main_text{
	margin-top: 10px;
	width: 100%;
}
.left_img_box{
	float: left;
	display: block;
	width: 182px;
}
.left_img_box>img{
	border: 1px solid #ccc;
}
.right_box{
	float: left;
	width: 510px;
	margin: 0 10px;
}
.right_button{
	float: right;
	width: 80px;
	height: 35px;
	margin-top: 30px;
}
.right_button>span{
	display: inline-block;
	width: 80px;
	line-height: 35px;
	text-align: center;
	background: #f90;
	color: #fff;
}
.ydqw{
	width: 60px;
	height: 30px;
	background: #f90;
}
.main_right {
	margin: 10px 0;
	width:250px;
}
.news{
	margin-top: 120px;
}
.news h3 {
	background:url(../images/r_title_bg.jpg) repeat-x 20px center;
}
.news h3 p {
	width:70px;
	background-color: #fff
}
.news h3 p span {
	color:#65b020;
}
.news ul li {
	padding-left: 12px;
	height:25px;
	line-height: 25px;
	list-style-type: square;
	overflow: hidden;
	background: url(../images/li.jpg)no-repeat left center;
}
.news ul li a {
	color:#333;
}
.news ul li a:hover {
	text-decoration:underline;
}
.news ul {
	margin-top: 10px;
	margin-bottom: 20px;
}
.news ul li .first_li_a {
	color:#f00;
}
.rank h3 {
	background:url(../images/r_title_bg.jpg) repeat-x 20px center;
}
.rank h3 p {
	width:70px;
	background-color: #fff
}
.rank h3 p span {
	color:#37ccca;
}
.rank ul li {
	height:30px;
	line-height: 30px;
	list-style: none;
	padding-left: 25px;
	border-bottom: 1px dotted #ccc;
}
.rank ul {
	margin:10px 0;
	background: url(../images/ph.jpg)no-repeat left 8px;
}
.rank ul li a {
	color:#333;
}
.share h3 {
	background:url(../images/r_title_bg.jpg) repeat-x 20px center;
}
.share>h3>p {
	width:70px;
	background-color: #fff
}
.share>h3>p>span {
	color:#f1786b;
}

.share_btn ul li a {
	display: block;
	float:left;
	width:32px;
	height:32px;
	line-height: 32px;
	background-image: url(../images/icons.png);
}
.share_btn ul li {
	float:left;
	padding:20px 6px 6px 0;
	list-style: none;
}
.btn_qq {
	background-position: 0 -52px
}
.btn_weibo {
	background-position: 0 -104px
}
.btn_tqq {
	background-position: 0 -260px
}
.btn_renren {
	background-position: 0 -208px
}
.btn_weixin {
	background-position: 0 -1612px
}
.share_btn p {
	width:250px;
}
.code {
	margin:20px 0;
	color:#000;
}
.code p span{
	color:#56b020;
	font-size: 14px;
	font-weight: bold;
}
.your_interst-box{
	width: 250px;
	height: 270px;
	background: #f3f3f3;
	color: #333;
	border: 1px solid #ccc;
}
.your_interst-box>h3>p>span{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
}
.your_interst_content{
	position: relative;
	width: 100%;
	background: #fff;
	text-align: center;
	margin-top: 5px;
}
.your_interst_content>img{
	width: 120px;
}
.your_interst_content>div{
	position: absolute;
	top: 0;
	left: 0;
}

.inter_p{
	margin: 3px 0;
}
.inter_p3{

}
.inter_p3>span{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
}
.people{
	margin-top: 34px;
}
.fangke_p2{
	margin-top: 25px;
}