<include file="Public/header" />
<div class="content_box">
	<article class="main_content clearfix">
	
		<aside class="right_bar">
			<ul>
				<li>网名：{$file['webname']}</li>
				<li>姓名：{$file['name']}</li>
				<li>籍贯：{$file['address']}</li>
				<li>现居：{$file['now_address']}</li>
				<li>职业：{$file['job']}</li>
				<li>副业：<a href="" style="color:#1CA368">{$file['sec_job']}</a></li>
				<li>喜欢的书：{$file['love_book']}</li>
				<li>喜欢的音乐：{$file['love_music']}</li>
				<li><img src="__PUBLIC__/home/images/qq.png"></li>
				<li><img src="__PUBLIC__/home/images/mail.png"></li>
			</ul>
		</aside>
	</article>
	
</div>
</body>
</html>
<script type="text/javascript">
	$(function(){
			 $(".top_ul>li>a").mouseover(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("bbb")
			 	$(".show").eq(index).addClass("aaa")
			})
			  $(".top_ul>li>a").mouseout(function(){
			 	var index = $(this).parent().index()
			 	$(".show").eq(index).removeClass("aaa");
			 	$(".show").eq(index).addClass("bbb")
			})
			$(".top_ul li a").click(function(){
				$(this).addClass("color").parent().siblings().children().removeClass("color")
			})
		})
</script>